/* # RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body{
    background-color: lightgray;
  }

  header{
    background-color: white;
    
    line-height: 130px;
  }
  
/* # UTILS */

.container {
    margin: 0 auto;
    padding: 0 10px;
    width: 1000px;
    max-width: 100%;
    background-color: white;
  }
  
  #Title{
    display: inline-block;
    font-size: 40px;
    vertical-align: middle;
  }

  .logo{
    height: 100px;
    vertical-align: middle;
  }

 

  section{
    margin: 30px;
  }

  .symbol-title-task{
    margin: 15px;
  }

  .button{
    border-radius: 5px;
    padding: 5px;
  }

  #Add-task{
    background-color: #66c3e8;
  }

  #Add-section{
background-color: white;
  }

  .Task-List{
    font-size: 20px;
  }

  .Tag-item{
    border-radius: 5px;
    background-color:#66c3e8;
    margin: 5px;
    padding: 3px;
    color: white;
  }

  .remove-point{
    list-style-type:none;
  }

  .item{
    margin: 10px;
  }

  .completed{
    border-radius: 50%;
    border: 1px solid green;
    color: #48a626;
    margin: 10px;
  }

  .uncompleted{
    border-radius: 50%;
    border: 1px solid red;
    color: red;
    margin: 10px;
  }

  #Q1-Goals{
    background-color: blueviolet;
  }

  #Recluiting{
    background-color: green;
  }

  #Mobile{
    background-color: orange;
  }

  #Website{
    background-color: deeppink
  }

  #Sales{
    background-color:#48a626;
  }