/* # RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body{
    background-color: lightgray;
  }

  header{
    background-color: white;
  }
  
/* # UTILS */

.container {
    margin: 0 auto;
    padding: 0 10px;
    width: 1000px;
    max-width: 100%;
    background-color: white;
  }
  
  #Title{
    display: inline-block;
  }

  .logo{
    height: 100px;
    width: 100px;
  }

  section{
    margin: 30px;
  }

  .button{
    border-radius: 5px;
    padding: 5px;
  }

  #Add-task{
    background-color: cyan;
  }

  #Add-section{
background-color: white;
  }

  .Task-List{
    font-size: 20px;
  }

  .Tag-item{
    border-radius: 5px;
    background-color: aqua;
    margin: 5px;
    padding: 3px;
  }

  .item{
    margin: 10px;
  }

  #Q1-Goals{
    background-color: blueviolet;
  }

  #Recluiting{
    background-color: green;
  }

  #Mobile{
    background-color: orange;
  }

  #Website{
    background-color: deeppink
  }

  #Sales{
    background-color: greenyellow;
  }